.menuItem {
  padding: 8px;
  list-style: none;
  border-radius: 16px;
  cursor: pointer;
}

.menuItem:hover {
  background-color: #d7d7d7b0;
}

.menuItemInner {
  display: flex;
  align-items: center;
  gap: 12px;
}

.label {
  font-size: 20px;
}
