.collapsible {
  display: flex;
  flex-direction: row;
}

.menuContainer {
  position: relative;
}

.menu {
  display: block;
  visibility: visible;
  position: absolute;
  top: 0;
}

.menuOpened {
  visibility: hidden;
  display: none;
}