.collapsible {
  display: flex;
  flex-direction: row;
}

.mobileMenu {
  width: 100vw;
  position: fixed;
  bottom: -100%;
  right: 0;
  left: 0;
  background-color: white;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 24px 0;
  z-index: 10;
}

.mobileMenu_active {
  bottom: 0;
  transition: bottom 0.4s linear;
}
