.collapsible {
  display: flex;
  flex-direction: row;
}

.dropdownContainer {
  position: relative;
}

.dropdown {
  display: block;
  visibility: visible;
  position: absolute;
  top: 0;
}

.shownDropdown {
  visibility: hidden;
  display: none;
}